body {
    margin-left: 15%;
    margin-right: 15%;
    background-color: #666666;
    font-family: sans-serif;
    padding: 0;
    margin-top: 0;
    margin-bottom: 0;
}

#header {
    background-color: #ccccff;
    padding: 0;
    margin: 0.5em 0;
}

#header h4 {
    font: bold italic 2em serif;
    text-align: center;
    margin: 0;
    padding: 1em;
}

#nav {
    background-color: #666666;
    padding: 0;
    margin: 0;
}

#nav ul {
    padding: 0;
    text-align: right;
    margin: 0;
    margin-right: 1em;
    border-bottom: 1px solid #666699;
    font-family: sans-serif;
}

#nav ul li {
    list-style: none;
    margin: 0;
    display: inline;
}

#nav ul li a {
    margin-top: -3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 10px;
    background: #ccccff url('/static/images/tab-left.png') left top no-repeat;
    text-decoration: none;
}

#nav ul li a span {
    margin-top: -3px;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-right: 10px;
    background: #ccccff url('/static/images/tab-right.png') right top no-repeat;
}

#nav ul li a:link {
    color: #333399;
}

#nav ul li a:visited {
    color: #333399;
}

#nav ul li a:link:hover, #nav ul li a:visited:hover {
    color: #000000;
    background: #aaaaee url('/static/images/hover-left.png') left top no-repeat;
}
#nav ul li a:link:hover span, #nav ul li a:visited:hover span {
    color: #000000;
    background: #aaaaee url('/static/images/hover-right.png') right top no-repeat;
}

#nav ul li a#current {
    background: #ffdca7 url('/static/images/current-left.png') left top no-repeat;
    border-bottom: 1px solid #ffdca7;
}

#nav ul li a#current span {
    background: #ffdca7 url('/static/images/current-right.png') right top no-repeat;
}

#content {
    padding: 1em;
    margin: 0;
    background-color: #ffdca7;
}

#content .article {
    border: 3px ridge #ffdca7;
    padding: 1em;
    margin: 1em;
    background-color: #efefef;
}

#content .article .title {
    font-style: italic;
    font-family: serif;
    padding-bottom: 0.5em;
}

#content .article .content pre {
    background-color: #efefef;
    font-family: sans-serif;
}

#content .article .author {
    padding-top: 0.5em;
    font-size: 0.75em;
    font-family: serif;
}

#content .article .date {
    font-size: 0.75em;
    font-family: serif;
}

#content .hotel {
    border: 3px ridge #666699;
    padding: 1em;
    margin: 1em;
    background-color: #eeeeee;
}

#content .hotel .name {
    font-style: italic;
    padding-bottom: 0.5em;
}

#content .hotel .url {
    padding-bottom: 0.5em;
}

#content .hotel .address {
    display: inline;
}

#content .hotel .address p {
    padding: 0;
    margin: 0;
}

#content .registration {
    border: 3px ridge #666699;
    padding: 1em;
    margin: 1em;
    background-color: #eeeeee;
}

#content .info {
    border: 3px ridge #666699;
    padding: 1em;
    margin: 1em;
    background-color: #eeeeee;
}

#content .info .title {
    font-style: italic;
    font-family: serif;
    padding-bottom: 0.5em;
}

#content .info .content {
    font-family: sans-serif;
    padding-bottom: 0.5em;
}

#content .info .content p {
    padding: 0;
    margin: 0;
}

#content .info .url {
    font-family: serif;
}

#content .comment {
    border: 3px ridge #666699;
    padding: 1em;
    margin: 1em;
    background-color: #eeeeee;
}

#content .comment .content {
    font-family: sans-serif;
}

#content .comment .signature {
    padding-top: 1.0em;
    font-size: 0.75em;
    font-family: serif;
}

pre {
    font-family: sans-serif;
}

form {
    padding: 1em;
    margin: 1em;
}

form .label {
}

form .field {
    padding-bottom: 0.5em;
}

#commentHeader {
    padding-top: 1.0em;
    font: bold 1em serif;
}

ul .errorlist {
    margin: 0;
    padding: 0;
}

.errorlist li {
    background-color: red;
    color: white;
    display: block;
    font-size: 10px;
    margin: 0 0 3px;
    padding: 4px 5px;
}

.top-left {
    float: left;
    background-image: url('/static/images/content-corner-top-left.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
}

.top-right {
    float: right;
    background-image: url('/static/images/content-corner-top-right.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
}

.bottom-left {
    float: left;
    background-image: url('/static/images/content-corner-bottom-left.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
    margin-top: -10px;
}

.bottom-right {
    float: right;
    background-image: url('/static/images/content-corner-bottom-right.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
    margin-top: -10px;
}

.header-top-left {
    float: left;
    background-image: url('/static/images/header-corner-top-left.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
}

.header-top-right {
    float: right;
    background-image: url('/static/images/header-corner-top-right.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
}

.header-bottom-left {
    float: left;
    background-image: url('/static/images/header-corner-bottom-left.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
    margin-top: -10px;
}

.header-bottom-right {
    float: right;
    background-image: url('/static/images/header-corner-bottom-right.png');
    height: 10px;
    width: 10px;
    font-size: 2px;
    margin-top: -10px;
}
