<html>
    <head>
        <title>Aaron Brice and Maria Llanes Wedding</title>
        <style type="text/css">
            @import "/static/js/dojoroot/dijit/themes/tundra/tundra.css";
            @import "/static/js/dojoroot/dojo/resources/dojo.css";
            @import "/static/css/wedding.css";
        </style>
        <script type="text/javascript" src="/static/js/dojoroot/dojo/dojo.js" djConfig="parseOnLoad: true"></script>
        <script type="text/javascript">
            dojo.require("dojo.parser");
            dojo.require("dijit.form.Form");
            dojo.require("dijit.form.TextBox");
            dojo.require("dijit.form.Textarea");
            dojo.require("dijit.form.NumberSpinner");
            dojo.require("dijit.form.CheckBox");
        </script>
    </head>
    <body class="tundra">
        <div id="header">
            <div class="header-top-left"></div>
            <div class="header-top-right"></div>
            <h4>Aaron Brice and Maria Llanes Wedding</h4>
            <div class="header-bottom-left"></div>
            <div class="header-bottom-right"></div>
        </div>
        <div id="nav">
            <ul>
                <li><a {% if news %}id="current" {% endif %}href="/news/">News<span></span></a></li>
                <li><a {% if rsvp %}id="current" {% endif %}href="/rsvp/">RSVP<span></span></a></li>
                <li><a {% if hotels %}id="current" {% endif %}href="/hotels/">Hotels<span></span></a></li>
                <li><a {% if registration %}id="current" {% endif %}href="/registration/">Registration<span></span></a></li>
                <li><a {% if info %}id="current" {% endif %}href="/info/">Info<span></span></a></li>
                <li><a {% if comments %}id="current" {% endif %}href="/comments/">Comments<span></span></a></li>
            </ul>
        </div>
        <div class="top-left"></div>
        <div class="top-right"></div>
        <div id="content">
            {% block content %}{% endblock %}
        </div>
        <div class="bottom-left"></div>
        <div class="bottom-right"></div>
    </body>
</html>
